.gpx.leaflet-interactive{
    stroke: rgb(11, 61, 145);
    stroke-opacity: .8;
    stroke-width: 5;
    fill:none;
}

.gpx.leaflet-interactive:hover{
    stroke: rgb(11, 61, 145);
    stroke-opacity: 1;
    stroke-width: 7;
    fill:none;
}

.waypoints{
    opacity: 0;
}
.waypoints:hover{
    opacity: 0.1;
    cursor: help;
}