 
  .logo {
    display: inline;
    cursor: pointer;   
    left: calc(50% - 150px);
    top: calc(50% - 240px);
  }
  .logo::after {
    clear: both;
    content: "";
    display: table;
  }
  .logo .logo-iss {
    -webkit-animation: draw 10s linear forwards;
    -moz-animation: draw 10s linear forwards;
    animation: draw 10s linear forwards;
    -webkit-animation-delay: -6s;
    -moz-animation-delay: -6s;
    animation-delay: -6s;
    animation-iteration-count: 10;
    stroke-dasharray: 1800;
    stroke-dashoffset: -1800;
  }
  .logo svg {
    display: block;
    margin: 40px auto 0;
    text-indent: -99999px;
  }
  
  @-webkit-keyframes draw {
    0% {
      stroke-dashoffset: none;
    }
    100% {
      stroke-dashoffset: 1;
      fill-opacity: 1;
    }
  }
  @-moz-keyframes draw {
    0% {
      stroke-dashoffset: none;
    }
    100% {
      stroke-dashoffset: 1;
      fill-opacity: 1;
    }
  }
  @keyframes draw {
    0% {
      stroke-dashoffset: none;
    }
    100% {
      stroke-dashoffset: 1;
      fill-opacity: 1;
    }
  }

  .outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .inner{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .loadingText{
    top: 55%;
    position: absolute;
    left: calc(50% - 100px);
  }

  .logo2 {
    display: inline;
    cursor: pointer;   
    left: 31px;
    /* top: calc(50% - 240px); */
  }
  .logo2::after {
    clear: both;
    content: "";
    display: table;
  }
  .logo2 .logo-iss {
    -webkit-animation: draw 10s linear forwards;
    -moz-animation: draw 10s linear forwards;
    animation: draw 10s linear forwards;
    -webkit-animation-delay: -6s;
    -moz-animation-delay: -6s;
    animation-delay: -6s;
    /* animation-iteration-count: 10; */
    stroke-dasharray: 1800;
    stroke-dashoffset: -1800;
  }
  .logo2 svg {
    display: block;
    margin: 40px auto 0;
    text-indent: -99999px;
  }

  .logo3 {
    display: inline;
    cursor: pointer;   
    left: -6px;
    top: -26px;
  }
  .logo3::after {
    clear: both;
    content: "";
    display: table;
  }
  .logo3 .logo-iss {
    -webkit-animation: draw 10s linear forwards;
    -moz-animation: draw 10s linear forwards;
    animation: draw 10s linear forwards;
    -webkit-animation-delay: -6s;
    -moz-animation-delay: -6s;
    animation-delay: -6s;
    animation-iteration-count: 10;
    stroke-dasharray: 1800;
    stroke-dashoffset: -1800;
  }
  .logo3 svg {
    display: block;
    margin: 40px auto 0;
    text-indent: -99999px;
  }

  #overlay {
    position: fixed;
    display: none;
    pointer-events: unset;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);  
    cursor: wait ;       
  }

  .animate{
    -webkit-animation: rotate-once 1s ease-in-out; /* Safari */
    animation: rotate-once 1s ease-in-out;    
  }

  /* Standard syntax */
@keyframes rotate-once {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes rotate-once {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}