/* leaflet-PopUp */
.leaflet-popup-pane{
    display: none;
}

.leaflet-popup-content-wrapper{
    min-width: 380px;
    width: fit-content;
    min-height: 70px;
    height: fit-content;
    background: none;
    opacity: .9;
    z-index: 1;
    box-shadow: none;
    /* display: none; */
}

.leaflet-popup-content b{
    display: none;
}

.leaflet-popup-content-wrapper:hover{
    opacity: 1;
    }

.leaflet-popup-content{
    display: contents;
}

/* popup-tip & close-button */
.leaflet-popup-tip-container{
    display: none;
}

.leaflet-popup-tip{
    background: var(--color-bg);
}

.leaflet-popup-close-button{
    display: none;
}

/* content-PupUp */
#infoOnCountry{
    pointer-events: none;
    background: var(--color-bg);
    color: var(--color-color);
    min-width: 380px;
    width: fit-content;
    min-height: 70px;
    height: fit-content;
    position: absolute;
    border-radius: 10px;
}

#issOnCountryWrapper{
    pointer-events: none;
    background:none;
    color:var(--color-color);
    width: fit-content;
    height: fit-content;
    position: absolute;
}

/* headline */
#infoOnCountry h2{
    margin:10px;
    margin-bottom: 0px;
    text-align:center;
}

/* info-sentence */
.info-container{
    background-color: var(--color-bg);
    pointer-events: auto;
    padding: 10px;
    padding-top: 0px;
    border-radius: 12px;
    min-height: 15px;
    height: fit-content;
}

.issCountyPasses-container{
    min-height: 15px;
    height: fit-content;
    font-size: 1em;
}

.issCountyPasses-container p{
    margin: 0px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 0px;
    text-align: left;
}

/* table-content */
#countryPasses{
    width: -moz-available;
    width: -webkit-fill-available;
}

.myPopUp{
    background: var(--color-border);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

#countryPasses th{
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: var(--color-td);
}

#countryPasses td{
    text-align: center;
    border: none;
    background-color: var(--color-td);
    border-radius: 5px;
    padding-block-start: 0px;
    padding-block-end: 0px;
}

#countryPasses table{
    width: -moz-available;
    width: -webkit-fill-available;
}

.text.startTime{
    font-size: 1em;
    min-height: 15px;
    height: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-inline-end: 15px;
}

.text.endTime{
    font-size: 1em;
    min-height: 15px;
    height: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-inline-end: 15px;
}