* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {
	display: none;
	margin: 10px;
	}
img {vertical-align: middle;}

#astrosOnIss h2{
	margin:auto;
    text-align:center;
}

.mySlidesTutorial {
	margin: 10px;
	}

/* Slideshow container */
.slideshow-container-tutorial {
  /*background-color: var(--color-bg);*/
  /* width:fit-content; */
  min-width: fit-content;
	width: 50%;
	height:100%;
  min-height: 155px;
  position: relative;
  margin: auto;
  border-radius: 5px;
	padding-top: 20px;
}

/* Slideshow container */
.slideshow-container {
  background-color: var(--color-bg);
  /* width:fit-content; */
  min-width: fit-content;
  min-height: 155px;
  position: relative;
  margin: auto;
  border-radius: 5px;
}

/* Next & previous buttons */
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 30px 10px;
  margin-top: -22px;
  color: var(--color-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
  user-select: none;
}

.next-tutorial, .prev-tutorial{
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 30px 10px;
  margin-top: -22px;
  color: var(--color-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next-tutorial {
  right: -20px;
  border-radius: 0 3px 3px 0;
}

/* Position the "prev button" to the left */
.prev-tutorial {
  left: -20px;
}

.prev-tutorial:hover, .next-tutorial:hover{
  background-color: var(--color-button-hover);

}

/* Position the "next button" to the right */
.next {
  right: -10px;
  border-radius: 0 3px 3px 0;
}

/* Position the "prev button" to the left */
.prev {
  left: -10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--color-button-hover);
}

/* Caption text */
.text {
  color: var(--color-rss);
  font-size: 15px;
  padding: 8px 12px;
  position: static;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--color-color);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.portrait{
	height:150px;
}

.flag{
	height:50px;
}

.innerSlider{
  margin: auto;
  width: fit-content;
}

.innerSlider span{
  margin: 5px;

}

.image{
  float: left;
  padding: 0 10px 0 20px;
}

.astroinfo{
  float: right;
  padding: 20px 0;
  display: grid;
}

.name, .country{
  position: relative;
}

.divflag{
  width: fit-content;
  margin: auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
	text-align: center;
	vertical-align: center;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow-y: hidden;  /*Enable scroll if needed */
	overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  margin-right: -15px;
}

.modal-content:hover{
  background-color: var(--color-bg);
  opacity: 1;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--color-bg);
  opacity: 0.4;
  margin: 3% auto; /* 15% from the top and centered */
  padding: 20px 20px 10px 20px;
  border: 1px solid #888;
	border-radius: 10px;
  width: 60%; /* Could be more or less, depending on screen size */
  /*height: 100vh;*/
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; 
}

.slideshow-container-tutorial{
  width: -moz-available;
  width: -webkit-fill-available;
}

.slideshow-container-tutorial h1{
  margin-top: 0px;
}

.startupTutorial{
  margin-bottom: 0px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content img{
  opacity: 0.6;
  -webkit-transition: opacity 0,3s ease-in-out;
  -moz-transition: opacity 0,3s ease-in-out;
  transition: opacity 0,3s ease-in-out; 
}
.modal-content:hover img{
  opacity: 1;
}
