* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {
	display: none;
	margin: 10px;
	}
img {vertical-align: middle;}

#astrosOnIss h2{
	margin:auto;
    text-align:center;
}

/* Slideshow container */
.slideshow-container {
  background-color: var(--color-bg);
  /* width:fit-content; */
  min-width: fit-content;
  min-height: 155px;
  position: relative;
  margin: auto;
  border-radius: 5px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 30px 10px;
  margin-top: -22px;
  color: #818181;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -10px;
  border-radius: 0 3px 3px 0;
}

/* Position the "prev button" to the left */
.prev {
  left: -10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.3);
}

/* Caption text */
.text {
  color: var(--color-rss);
  font-size: 15px;
  padding: 8px 12px;
  position: static;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.portrait{
	height:150px;
}

.flag{
	height:50px;
}

.innerSlider{
  margin: auto;
  width: fit-content;
}

.innerSlider span{
  margin: 5px;

}

.image{
  float: left;
  padding: 0 10px 0 20px;
}

.astroinfo{
  float: right;
  padding: 20px 0;
  display: grid;
}

.name, .country{
  position: relative;
}

.divflag{
  width: fit-content;
  margin: auto;
}
