#pastpasses .text, #countrypassesSidebar .text{
    padding: 5px;   
 } 

.flyOver h2{
    text-align: center;
}

.flyOver{
    margin-bottom: 100px;
}

.tableLeftSideBar{
    background: var(--color-border);
    border-radius: 5px;
} 
/* bottom table */

.leftBottomTable{
    background: var(--color-border);
     border-radius: 5px;
}

#flyby table, #pastpasses table, #countrypassesSidebar table{
    width: -moz-available;
    width: -webkit-fill-available;
}

#flyby th, #pastpasses th, #countrypassesSidebar th{
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: var(--color-td);
}

#flyby td, #pastpasses td, #countrypassesSidebar td{
   width: 50%;
   text-align: center;
   border: none;
   background-color: var(--color-td);
   border-radius: 5px;
   padding-block-start: 0px;
   padding-block-end: 0px;
}

#flyby, #pastpasses, #countrypassesSidebar{
    padding: 5px;
    position: relative;    
}