.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    background-color:var(--color-bg);
    border-radius: 5px;    
  }

.context-menu__item:hover{
    background-color: grey;
    cursor: pointer;  
    padding: none;
  }
  
.context-menu__items{
    margin: auto; 
    padding: 10px 0; 
  }
  
.context-menu--active {
    display: block;
  }

.context-menu__item{
    list-style-type: none;
    color: var(--color-color);
    padding: 4px 10px;
  }