#issOnBoard{
    pointer-events: none;
    background:none;
    color: white;
    width: fit-content;
    height: fit-content;
    overflow-y: hidden;  
    position: absolute;
}

#issOnBoardWrapper{
    pointer-events: none;
    background:none;
    color: white;
    width: fit-content;
    height: fit-content;
    /* overflow-y: hidden;   */
    position: absolute;
}

#astrosOnIss{
    background-color: #111;
    pointer-events: auto;
    padding: 10px;
    border-radius: 5px;
}

.portrait{
    height: 100px;
}

.flag{
height: 50px;
}

.hide{
    display: none;
}

