#issOnBoard{
    pointer-events: none;
    background:none;
    color:  var(--color-color);
    width: fit-content;
    height: fit-content;
    overflow-y: hidden;  
    position: absolute;

}

#issOnBoardWrapper{
    pointer-events: none;
    background:none;
    color: var(--color-color);
    width: fit-content;
    height: fit-content;
    /* overflow-y: hidden;   */
    position: absolute;
}

#astrosOnIss{
    background-color: var(--color-bg);
    pointer-events: auto;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.9;
}

#astrosOnIss:hover {
    opacity: 1.0;
}

.portrait{
    height: 100px;
}

.flag{
height: 50px;
}

.hide{
    display: none;
}

