
.circle.leaflet-interactive{

    stroke: rgb(11, 61, 145);
    stroke-opacity: 1;
    stroke-width: 1.5;
    fill: rgb(255, 252, 252);
    fill-opacity: 0.1;


}

.circle.leaflet-interactive:hover{
    stroke: rgb(11, 61, 145);
    stroke-opacity: 1;
    stroke-width: 1.5;
    fill: rgb(255, 252, 252);
    fill-opacity: 0.7;


}