.rss-image{
    float: left;
    width: 10%;
}

.rss-image img{
    width: 100%;
    margin-top: 50%;
    border-radius: 20px;
}

.rss-text{
    float: right;
    text-align: left;
    vertical-align: top;
    width: 90%;
}

.rss-text p{
    height: 80px;
    overflow: hidden;
}

.rss-text p:hover{
    overflow: auto;
}

.rss-item{
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0 0 0 5px;
}

.rss-prev{
    float: left;
    width: 50%;
    text-align: right;
    
}
.rss-prev span:hover {
    background-color: rgba(255,255,255,0.3);
}
.rss-next span:hover{
    background-color: rgba(255,255,255,0.3);
}

.rss-next{
    float: right;
    width: 50%;
    text-align: left;
}

.rss-prev span { 
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 5px 10px;
    margin-top: -10px;
    color: #818181;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
    user-select: none;
}

.rss-next span {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 5px 10px;
    margin-top: -10px;
    color: #818181;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.rss{
    margin: 5px;
}

.rss h2{
    text-align: center;
    margin: 0 10px;
    padding-bottom: 5px;
    color: var(--color-color)
}

.border {
    width: 780px;
    border: 1px solid var(--color-color);
    border-radius: 10px;
}